* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

/*-------------------
    cover-section
-------------------*/

#cover-section {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
}

.cover-content {
    padding: 300px 0px;
}

.cover-content h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    position: relative;
    top: -120px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    line-height: 110px;
}

.p-con {
    color: white;
    font-size: 17px;
    text-align: center;
    position: relative;
    top: 0px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.link {
    width: 149px;
    text-align: center;
    background: black;
    position: relative;
    top: 20px;
    margin: 0px auto;
    padding: 12px 10px;
    font-family: 'Open Sans', sans-serif;
    transition: .5s;
}

.link:hover {
    background: #1271EE;
    color: white;
}

.link a{
    color: white;
    text-decoration: none;
}

/*-------------------
    menu-section
-------------------*/

#menu-section {
    background: black;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 15px;
    transition: .5s;
    margin-right: 10px;
    position: relative;
    left: 110px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.menu ul li:hover {
    background: #1271EE;
    color: white; 
}

/*---------------------
    cloud-section
----------------------*/

#cloud-section {
    background: lightgray;
}

.content-one {
    width: 50%;
    float: left;
    padding: 80px 0px;
}

.content-one img {
    width: 200px;
    height: 150px;
    position: relative;
    left: 180px;
    top: 60px;
}

.content-one h2 {
    font-size: 30px;
    font-family: sans-serif;
    margin-left: -140px;
}

.content-one p {
    margin-top: 30px;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: -140px;
}

/*----------------------------
    stay-connected-section
----------------------------*/

#stay-connected-section {
    background: url("../images/jumbotron_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.stay-content {
    padding: 150px 0px;
}

.stay-content h2 {
    font-size: 28px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    left: 800px;
}

.stay-content p {
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    position: relative;
    left: 640px;
    top: 10px;
}

.link-2nd {
    width: 144px;
    background: black;
    padding: 10px 0px;
    text-align: center;
    margin-top: 20px;
    margin-left: 227px;
    transition: .5s;
}

.link-2nd a {
    text-decoration: none;
    color: white;
} 

.link-2nd:hover {
    background: #1271EE;
    color: white;
}
